@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=IM+Fell+English:ital@0;1&family=Pirata+One&display=swap");

html {
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

body {
  width: 36rem;
  margin: 5rem auto;
  font-family: "IM Fell English", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: -0.2rem;
}

h1,
h2 {
  font-family: "IM Fell English", serif;
}

h3,
h4,
h5,
h6 {
  font-family: "IM Fell English SC", serif;
}

header h1.title {
  font-family: "Pirata One", cursive;
  font-size: 4rem;
  text-align: center;
  margin-top: 16rem;
  margin-bottom: 6rem;
}

/* @media print {
  h2 {
    page-break-before: always;
  }
} */

h2 {
  font-size: 2rem;
  margin-top: 8rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
}

.inset {
  margin-left: 2rem;
  width: 85%;
}

.inset p {
 font-size: 0.9rem 
}

sup {
  line-height: 0;
  font-size: 0.63em;
  vertical-align: super;
}

p {
  line-height: 1.3em;
  margin-top: 0.2rem;
  margin-bottom: 0.5em;
  hyphens: none
}

ul {
  margin-top: 0.2rem;
  margin-bottom: 1.5em;
}

li {
  /* list-style: circle; */
  /* list-style: decimal; */
  list-style: disc;
  /* list-style: decimal-leading-zero; */
  /* list-style: lower-latin; */
  /* list-style: upper-latin; */
  /* list-style: square; */
  /* list-style: upper-roman; */
  /* list-style: lower-roman; */
}

hr {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

table {
  width: 100%;
  text-align: left;
  margin-bottom: 2.5em;
  border-collapse: collapse;
  font-size: small;
}

thead {
  height: 4em;
  border-bottom: 2px solid black;
  vertical-align: bottom;
}

tbody {
  vertical-align: bottom;
}

tr {
  border-bottom: 1px solid #0000001c;
}

tbody > tr:last-child {
  border: none;
}

td {
  color: black;
}

.sm-caps {
  font-family: "IM Fell English SC", serif;
}

.table-caption {
  font-weight: lighter;
  font-size: 0.95em;
  margin-bottom: 0;
  margin-top: 2.5em;
  font-style: italic;
}

h2 + h3,
h3 + h4 {
  margin-top: 0.75rem;
}

li > p {
  margin-bottom: 0px;
}

p + ul {
  margin-top: -0.3rem;
}

/* TABLES */
.table-caption + table > thead {
  height: 1rem;
}

.class-progression table {
  position: relative;
  width: 36rem;
  margin-left: 0;
}

/* TABLES COLS */
/* BARBARIAN */
.class-progression.barbarian table th:nth-child(1) {
  width: 2.5rem;
}

.class-progression.barbarian table th:nth-child(2),
.class-progression.barbarian table th:nth-child(4),
.class-progression.barbarian table th:nth-child(5) {
  width: 4rem;
}

/* BARD */
.class-progression.bard table th:nth-child(1) {
  width: 2rem;
}

.class-progression.bard table th:nth-child(2) {
  width: 2rem;  
}

/* .class-progression.bard table th:nth-child(4){
  width: 20rem;
} */

.class-progression.bard table th:nth-child(4){
  width: 2rem;
}

.class-progression.bard table th:nth-child(5) {
  width: 3rem;
}

/*
.class-progression.bard table th:nth-child(6),
.class-progression.bard table th:nth-child(7),
.class-progression.bard table th:nth-child(8),
.class-progression.bard table th:nth-child(9),
.class-progression.bard table th:nth-child(10),
.class-progression.bard table th:nth-child(11),
.class-progression.bard table th:nth-child(12),
.class-progression.bard table th:nth-child(13),
.class-progression.bard table th:nth-child(14) {
  width: 2%;
  text-align: center;
}
*/

.class-progression.bard table tr th:nth-child(6),
.class-progression.bard table tr th:nth-child(7),
.class-progression.bard table tr th:nth-child(8),
.class-progression.bard table tr th:nth-child(9),
.class-progression.bard table tr th:nth-child(10),
.class-progression.bard table tr th:nth-child(11),
.class-progression.bard table tr th:nth-child(12),
.class-progression.bard table tr th:nth-child(13),
.class-progression.bard table tr th:nth-child(14),
.class-progression.bard table tr td:nth-child(6),
.class-progression.bard table tr td:nth-child(7),
.class-progression.bard table tr td:nth-child(8),
.class-progression.bard table tr td:nth-child(9),
.class-progression.bard table tr td:nth-child(10),
.class-progression.bard table tr td:nth-child(11),
.class-progression.bard table tr td:nth-child(12),
.class-progression.bard table tr td:nth-child(13),
.class-progression.bard table tr td:nth-child(14) {
  text-align: center;
}

.class-progression.bard table tr td:nth-child(6),
.class-progression.bard table tr td:nth-child(7),
.class-progression.bard table tr td:nth-child(8),
.class-progression.bard table tr td:nth-child(9),
.class-progression.bard table tr td:nth-child(10),
.class-progression.bard table tr td:nth-child(11),
.class-progression.bard table tr td:nth-child(12),
.class-progression.bard table tr td:nth-child(13) {
  border-right: 1px solid #0000001c;
}


blockquote {
}