/* @import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=IM+Fell+DW+Pica:ital@0;1&family=Pirata+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=IM+Fell+DW+Pica+SC&family=IM+Fell+Double+Pica&family=IM+Fell+English&family=IM+Fell+English+SC&family=IM+Fell+Great+Primer+SC&display=swap');
/* 
'IM Fell English SC'
'IM Fell DW Pica'
'IM Fell DW Pica SC'

  'IM Fell Double Pica'
  'IM Fell English'
  'IM Fell Great Primer SC'
*/

html {
  font-size: 18px;
}

body {
  width: 36rem;
  margin: 5rem auto;
  font-family: 'IM Fell English', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: -0.2rem;
}

h1,
h2 {
  font-family: 'IM Fell English', cursive;
}

h3,
h4,
h5,
h6 {
  font-family: 'IM Fell DW Pica SC', cursive;
}

header h1.title {
  font-family: 'Pirata One', cursive;
  font-size: 4rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 1.2em;
  margin-top: 0.4rem;
  margin-bottom: 0.5em;
}

ul {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

li {
  /* list-style: circle; */
  /* list-style: decimal; */
  list-style: disc;
  /* list-style: decimal-leading-zero; */
  /* list-style: lower-latin; */
  /* list-style: upper-latin; */
  /* list-style: square; */
  /* list-style: upper-roman; */
  /* list-style: lower-roman; */
}

hr {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

table {
  width: 100%;
  text-align: left;
  margin-bottom: 2.5em;
  border-collapse: collapse;
  font-size: small;
}

thead {
  height: 4em;
  border-bottom: 2px solid black;
  vertical-align: bottom;
}

tbody {
  vertical-align: bottom;
}

tr {
  border-bottom: 1px solid #0000001c;
}

tbody > tr:last-child {
  border: none;
}

td {
  color: black;
}

.sm-caps {
  font-family: 'IM Fell DW Pica SC', serif;
}

.table-caption {
  font-weight: lighter;
  font-size: 0.95em;
  margin-bottom: 0;
  margin-top: 2.5em;
  font-style: italic;
}

p + h2 {
  margin-top: 2rem;
}

h2 + h3,
h3 + h4 {
  margin-top: 0.75rem;
}

li > p {
  margin-bottom: 0px;
}

p + ul {
  margin-top: -0.3rem;
}

.table-caption + table > thead {
  height: 1rem;
}

.class-progression table {
  position: relative;
  width: 54rem;
  margin-left: -8rem;
}

/* BARBARIAN */
.class-progression.barbarian table th:nth-child(1) {
  width: 6%;
}

.class-progression.barbarian table th:nth-child(2),
.class-progression.barbarian table th:nth-child(4) {
  width: 9%;
}

.class-progression.barbarian table th:nth-child(5) {
  width: 10%;
}

/* BARD */
.class-progression.bard table th:nth-child(1) {
  width: 1%;
}

.class-progression.bard table th:nth-child(2),
.class-progression.bard table th:nth-child(4),
.class-progression.bard table th:nth-child(5) {
  width: 1%;
  background-color: red;
}

.class-progression.bard table th:nth-child(6),
.class-progression.bard table th:nth-child(7),
.class-progression.bard table th:nth-child(8),
.class-progression.bard table th:nth-child(9),
.class-progression.bard table th:nth-child(10),
.class-progression.bard table th:nth-child(11),
.class-progression.bard table th:nth-child(12),
.class-progression.bard table th:nth-child(13),
.class-progression.bard table th:nth-child(14) {
  width: 2%;
  background-color: green;
}
